@import url('http://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Mate+SC|Mate:400,400i');
html {
  background: #000;
}
body {
  font-size: 100%;
  font-family: 'Mate', sans-serif;
  line-height: 1.5;
  background: #000;
  color: rgba(255, 255, 255, 0.7);
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  color: #fff;
  font-family: 'Merriweather';
  font-weight: 100;
}
.container {
  width: 100%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;
}
.container.out {
  opacity: 0;
}
.container > h1,
.container > h2,
.container > p {
  position: relative;
  z-index: 2;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.fade {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.fade.out {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.flow {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.flow.out {
  opacity: 0;
}
.flowcontent {
  position: relative;
}
.flowcontent:before {
  display: table;
  content: '';
  width: 1px;
  height: 1200px;
}
.flowcontent .caption {
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  display: block;
  top: 50%;
  left: 10%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.flowcontent .caption.right {
  left: auto;
  right: 10%;
}
.flowcontent .imageholder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.flowcontent .imageholder.img1 {
  background-image: url("https://dl.dropboxusercontent.com/u/8254962/rihanna-smoke.gif");
}
.flowcontent .imageholder.img2 {
  background-image: url("https://dl.dropboxusercontent.com/u/8254962/pexels-photo-234078%401600px.jpeg");
}
.flowcontent video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}
/*
==============================================
floating (from http://www.justinaguilar.com/animations/css/animations.css)
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.8s;
  -webkit-animation-duration: 1.8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, 0.1), 0 6px 11px rgba(0, 0, 0, 0.08);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.hide {
  opacity: 0;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
html,
body {
  background: #DBD4C7;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6,
html p,
body p,
html a,
body a {
  color: black;
}
html p,
body p,
html a,
body a {
  font-size: 18px;
}
.container {
  margin-bottom: 100px;
}
.narration {
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  margin: 40px auto 0 auto;
  max-width: 600px;
  background: black;
  border-radius: 4px;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  transition: 2s;
}
.narration p,
.narration a,
.narration h1,
.narration h2 {
  padding: 10px 20px;
  color: white;
}
.narration p,
.narration a {
  font-size: 20px;
}
.right {
  margin-right: 30px;
  margin-left: auto;
}
.left {
  margin-right: auto;
  margin-left: 30px;
}
.divider {
  text-align: center;
}
.booktitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.choice_container {
  width: 100%;
}
.choice_container .choice {
  width: 50%;
  text-align: center;
  display: inline-block;
}
.choice_container .choice img {
  max-width: 90px;
  display: inline-block;
}
.choice_container .choice:hover {
  animation: wiggle 500ms infinite linear;
}
.choice_container .c_right {
  float: right;
}
/*# sourceMappingURL=book.css.map */