@font-face {
  font-family: 'Fanwood';
  src: url('../fonts/Fanwood/fanwood-webfont.woff') format('woff'), /* Super Modern Browsers */ /* Pretty Modern Browsers */ url('../fonts/Fanwood/fanwood-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Fanwood/fanwood-webfont.svg') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Fanwood';
  src: url('../fonts/Fanwood/fanwood_italic-webfont.woff') format('woff'), /* Super Modern Browsers */ /* Pretty Modern Browsers */ url('../fonts/Fanwood/fanwood_italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Fanwood/fanwood_italic-webfont.svg') format('svg');
  /* Legacy iOS */
  font-style: italic;
}
@font-face {
  font-family: 'Fanwood-Text';
  src: url('../fonts/Fanwood/fanwood_text-webfont.woff') format('woff'), /* Super Modern Browsers */ /* Pretty Modern Browsers */ url('../fonts/Fanwood/fanwood_text-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Fanwood/fanwood_text-webfont.svg') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Fanwood-Text';
  src: url('../fonts/Fanwood/fanwood_text_italic-webfont.woff') format('woff'), /* Super Modern Browsers */ /* Pretty Modern Browsers */ url('../fonts/Fanwood/fanwood_text_italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Fanwood/fanwood_text_italic-webfont.svg') format('svg');
  /* Legacy iOS */
  font-style: italic;
}
@font-face {
  font-family: 'Einstein';
  src: url('../fonts/Einstein/AlbertEinstein-Regular.ttf') format('truetype');
}
html {
  background: #000;
}
body {
  font-size: 100%;
  font-family: 'Fanwood', sans-serif;
  line-height: 1.5;
  background: #000;
  color: rgba(255, 255, 255, 0.7);
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  color: #fff;
  font-family: 'Fanwood-Text';
  font-weight: 100;
}
body p {
  font-size: 20px;
}
.container {
  width: 100%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;
}
.container.out {
  opacity: 0;
}
.container h1,
.container h2,
.container p {
  position: relative;
  z-index: 2;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.fade {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.fade.out {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.flow {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.flow.out {
  opacity: 0;
}
.flowcontent {
  position: relative;
}
.flowcontent:before {
  display: table;
  content: '';
  width: 1px;
  height: 1200px;
}
.flowcontent .caption {
  position: absolute;
  border-radius: 3px;
  display: block;
  top: 30%;
  left: 10%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.flowcontent .caption.right {
  left: auto;
  right: 10%;
}
.flowcontent .caption.caption_center {
  left: auto;
  right: auto;
  text-align: center;
  width: 100%;
}
.flowcontent .imageholder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.flowcontent .imageholder.img1 {
  background-image: url("../img/sky.jpg");
}
.flowcontent .imageholder.img2 {
  background-image: url("https://dl.dropboxusercontent.com/u/8254962/pexels-photo-234078%401600px.jpeg");
}
.flowcontent video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}
/*
==============================================
floating (from http://www.justinaguilar.com/animations/css/animations.css)
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.8s;
  -webkit-animation-duration: 1.8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, 0.1), 0 6px 11px rgba(0, 0, 0, 0.08);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.hide {
  opacity: 0;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
h1 {
  font-size: 90px;
  line-height: 1.1;
}
h2 {
  font-size: 40px;
  line-height: 1.3;
}
h3 {
  font-size: 30px;
  line-height: 1.3;
}
h4 {
  font-size: 24px;
  margin-bottom: 0.3em;
}
p {
  margin: 30px auto;
  font-size: 20px;
  line-height: 1.5;
}
.emoji {
  height: 200px;
  padding-top: 80px;
}
.first {
  margin-top: 150px;
}
.start_sentences {
  margin-top: 20px;
}
.scrolldown {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  transition: 2s;
}
.scrolldown img {
  opacity: 0.2;
  max-width: 30px;
}
.mouse {
  opacity: 0.6;
  width: 22px;
  height: 42px;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid #888;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}
.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #888;
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
}
.row {
  max-width: 90%;
}
.parallax {
  opacity: 1;
  transition: 2s;
}
.hide-for-parallax {
  opacity: 0;
  transition: 2s;
}
.button {
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  height: 50px;
  margin: 0 auto;
  transition: 0.5s;
}
.button p {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  line-height: 50px;
}
.button:hover {
  background-color: white;
  color: black;
}
.button:hover P {
  color: black;
}
.page {
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  margin: 40px auto 0 auto;
  max-width: 600px;
  background: #DBD4C7;
  border-radius: 4px;
  transition: 2s;
}
.page p,
.page a,
.page h1,
.page h2 {
  padding: 10px 20px;
  color: black;
  font-family: 'Einstein';
}
.page p:focus,
.page a:focus,
.page h1:focus,
.page h2:focus {
  outline: none;
}
.page p,
.page a {
  font-size: 20px;
}
.page:focus {
  outline: none;
}
/*# sourceMappingURL=index.css.map */