// imports
@import url('http://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Mate+SC|Mate:400,400i');


html {
  background: #000;
}

body {
  font-size: 100%;
  font-family: 'Mate', sans-serif;
  line-height: 1.5;
  background: #000;
  color: rgba(255,255,255,0.7);

  h1,h2,h3,h4,h5 {
    color: #fff;
    font-family: 'Merriweather';
    font-weight: 100;
  }
}
